.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #7c3aed;
  color: #ffffff;
}

.links a {
  margin-left: 20px;
  text-decoration: none;
  color: #f8f4ff;
}

.links a:hover {
  color: #f8f4ff;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: #ece6ff;
}