.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: black;
  color: white;
}

.links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.links a:hover {
  color: purple;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}